* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body, ul {
	margin: 0;
}

body {
	font-size: 14px;
	font-family: 'Microsoft YaHei', 'Arial';
	line-height: 2;
}

ul {
	list-style: none;
	padding: 0;
}

i {
	font-style: normal;
}

a, a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

a:hover {
 	color: #FFFFFF;
}

h4 {
	margin: 0;
}
@font-face {
	src: url('https://cdn.jsdelivr.net/npm/akilar-candyassets/fonts/UnidreamLED.ttf');
}
@keyframes header-effect {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		-webkit-transform: translateY(-50px);
		-moz-transform: translateY(-50px);
		transform: translateY(-50px);
	}
	100% {
		opacity: 1;
		filter: none;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
}
@keyframes headerNoOpacity {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		-webkit-transform: translateY(-50px);
		-moz-transform: translateY(-50px);
		transform: translateY(-50px);
	}
	100% {
		opacity: 1;
		filter: none;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
}
@keyframes scroll-down-effect {
	0% {
		top: 0;
		opacity: 0.4;
		/* filter 是滤镜效果 */
		filter: alpha(opacity=40);
	}
	50% {
		top: -16px;
		opacity: 1;
		filter: none;
	}
	100% {
		top: 0;
		opacity: 0.4;
		/* filter 是滤镜效果 */
		filter: alpha(opacity=40);
	}
}
@keyframes bottom-top {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		margin-top: 50px;
	}
	100% {
		opacity: 1;
		filter: none;
		margin-top: 0;
	}
}

/*头部样式开始*/
#body-wrap {
	position: relative;
	display: flex;
	-moz-box-orient: vertical;
	flex-direction: column;
	min-height: 100vh;
}
#header {
	position: relative;
	width: 100%;
	/*背景图片完全覆盖容器*/
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	animation: header-effect 1s ease 0s 1 normal running none;
}

#nav {
	position: absolute;
	top: 0;
	display: flex;
	flex-wrap: wrap;
	-moz-box-align: center;
	align-items: center;
	width: 100%;
	height: 60px;
	font-size: 1.3em;
	padding: 0 36px;
	z-index: 90;
	transition: all 0.5s;
	animation: headerNoOpacity 1s;
}

#blog_name {
	-moz-box-flex: 1;
	flex: 1;
	font-size: 1.4em;
	font-weight: bold;
}

#menus {
	display: flex;
	justify-content: space-between;
	font-size: 1em;
}

.icon-icon-test::before {
	font-size: 1.4em;
	color: #FFFFFF;
}
.menus-item {
	display: inline-block;
	position: relative;
	padding: 0 0 0 1rem;
}
.site-page {
	position: relative;
	padding-bottom: 0.3rem;
	cursor: pointer;
}
/*.site-page:hover {*/
/*    width: 100%;*/
/*    color: #FFFFFF;*/
/*}*/
.menus-item span::after {
	content: '';
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 3px;
	background-color: #80c8f8;
	transition: all 0.2s ease-in-out;
}
.menus-item span:hover::after {
	width: 100%;
}
/*头部样式结束*/

/*主题区域开始*/
#main {
	display: flex;
	-moz-box-flex: 1;
	flex: 1 auto;
	width: 100%;
	margin: 0 auto;
	padding: 2rem 15px;
	max-width: 1200px;
}
/* 内容区域开始 */
.content {
	width: 75%;
	transition: all .3s;
	animation: bottom-top 1s;
}
/* 内容区域结束 */

/* 侧边栏区域开始 */
#aside {
	width: 25%;
	padding-left: 15px;
}
.card {
	position: relative;
	overflow: hidden;
	padding: 1rem 1.2rem;
	border-radius: 8px;
	background-color: #FFFFFF;
	box-shadow: 0 3px 8px 6px rgba(7,17,27,0.06);
	transition: box-shadow 0.3s;
}
.card:hover {
	box-shadow: 0 3px 8px 6px rgba(7,17,27,0.15);
}
.is-center {
	text-align: center;
}
.avatar-img {
	overflow: hidden;
	margin: 0 auto;
	width: 110px;
	height: 110px;
	border-radius: 70px;
}
.avatar-img img {
	height: 100%;
	object-fit: cover;
}
.author-info_name {
	font-weight: 500;
	font-size: 1.57em;
}
.author-info_description {
	margin-top: 0.3rem;
}
.card-info_data {
	display: table;
	margin: 0.7rem 0 0.2rem;
	width: 100%;
	table-layout: fixed;
}
.card-info_data-item {
	display: table-cell;
}
#aside>.card:not(:first-child) {
	margin-top: 1.5em;
}
.icon-laba::before {
	color: red;
}

/*时钟样式开始*/
#container {
	padding: 25px 20px;
	border-radius: 8px;
	font-family: UnidreamLED,serif;
	transition: box-shadow 0.3s;
}

#clock {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.clock-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.clock_time {
	font-size: 35px;
	margin: 0 auto;
}
/*时钟样式结束*/
/* 侧边栏区域结束 */
/*主题区域结束*/

/*底部区域开始*/
#footer {
	position: relative;
	background-attachment: local;
	background-position: bottom;
}
.footer-wrap {
	position: relative;
	padding: 2rem 1rem;
	color: #eee;
	text-align: center;
	background-color: #1873a2;
}
/*底部区域结束*/
