#header {
    height: 100vh;
    background-image: url("../imgs/fishsky.jpg");
    background-attachment: fixed;
    transition: all 0.5s;
}

/* 页脚的小图标 */
#scroll-down {
    position: absolute;
    bottom: 0;
    width: 100%;
    cursor: pointer;
    text-align: center;
}

.scroll-down-effects {
    position: relative;
    animation: scroll-down-effect 1.5s infinite;
}
.scroll-down-effects::before {
    content: "\e601";
    font-family: "iconfont";
    font-size: 20px;
    font-weight: 900;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
    line-height: 1.5;
}

.content-item {
    display: flex;
    -moz-box-orient: horizontal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    height: 20em;
    border-radius: 12px 8px 8px 12px;
    background-color: #FFFFFF;
    box-shadow:  0 3px 8px 6px rgba(7,17,27,0.06);
    transition: all 0.3s;
}
.cover {
    overflow: hidden;
    width: 45%;
    height: 100%;
    -webkit-mask-image: -webkit-gradient(#fff, #000);
}
.left_radius {
    border-radius: 8px 0 0 8px;
}
.post_img_bg {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.content-info {
    display: inline-block;
    overflow: hidden;
    padding: 0 40px;
    width: 55%;
}
.content-info div {
    margin-bottom: 8px;
}
.content-info a {
    color: #0f0f0f;
    font-size: 1.5rem;
    font-weight: 700;
}
.article {
    margin-top: 0.3rem;
}
#content> .content-item:hover {
    box-shadow:  0 3px 8px 6px rgba(7,17,27,0.15);
}
#content> .content-item:not(:first-child) {
    margin-top: 1rem;
}

#pagination {
    overflow: hidden;
    margin-top: 1rem;
    width: 100%;
}
.pagination {
    text-align: center;
}
.page-number {
    display: inline-block;
    margin: 0 0.2rem;
    min-width: 1.2rem;
    height: 1.2rem;
    text-align: center;
    line-height: 1.2rem;
    background-color: #00c4b6;
    cursor: default;
}
